@use '../../assets/v';

.cardRoot {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 310px;
  display: flex;
  flex-direction: column;

  border: 1px solid v.$link_color;
  border-radius: 10px;
  .mainLink {
    color: v.$foreground;
    text-decoration: none;
    .imgSlot {
      height: 240px;
      border-radius: 9px 9px 0 0;
    }
    .title {
      font-family: 'Fira Code Variable', monospace;
      margin: 0;
    }

    &:hover {
      .title {
        color: v.$link_color;
        text-decoration: underline;
      }
    }

    .content {
      padding: 5px;
      .stack {
        display: flex;
        gap: 10px;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
    }
  }
  .links {
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: center;
    a {
      color: v.$link_color;
    }
  }
}
