---
import GitHubIcon from "../Icon/GitHubIcon.astro";
---

<div>
  <a target="_blank" href='https://github.com/wing-0902'>
    <GitHubIcon height={22} />
    Wing
  </a>
</div>

<style lang="scss">
  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 18px 7px;
  }
</style>