---
import TwitterIcon from "../Icon/TwitterIcon.astro";
---

<div>
  <a href='/'>
    <TwitterIcon height={18} />
    Twitter
  </a>
</div>

<style lang="scss">
  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 18px 7px;
  }
</style>