---
import HeaderLayout from "../../layouts/HeaderLayout.astro";
---

<HeaderLayout
  title="自己紹介"
>
  <h1>プロフィール</h1>
  <section>
    <h2>まずは自己紹介</h2>
    <p>地球のどこかに住む地球人です（小泉構文！！）．ざっくり言うと，大阪のモブキャラってとこです．あなたとはもしかすると，もう私と会ったことがあるかもしれません（知らんけど）...</p>
    <p>このサイトは，まだまだ作成途中なので，これから色々追加していこうと思います．ぜひ今後もご覧ください．</p>
  </section>
</HeaderLayout>