---
import HeaderLayout from "../layouts/HeaderLayout.astro";
import FormDisplay from '../components/FormUI/FormDisplay.svelte';
---

<HeaderLayout
  title="アンケート"
  description="Wingは向上心豊かなので（自称），ウェブサイトを改善するためアンケートを実施しております．"
>
  <h1>アンケート</h1>
  <p>Wingは向上心豊かなので（自称），ウェブサイトを改善するためアンケートを実施しております．</p>
  <FormDisplay client:load />
</HeaderLayout>