---
import WingLogo from '../Icon/WingLogo-hover.astro';
import Menu from './Menu.vue';
---

<header>
  <Menu client:load />
  <a href="/" class='titleAsH1'>
    <WingLogo height={27} />
    Wing's HomePage
  </a>
  <nav>
    <a href='/posts/'>Blog</a>
    <a href='/profile/'>Profile</a>
  </nav>
</header>

<style lang="scss">
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 7px var(--foreground);
    height: 31.4px;
    background-color: var(--background-transparent);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;

    .titleAsH1 {
      display: flex;
      font-size: 1.5em;
      font-weight: bold;
      font-family: Playwrite;
      margin-top: 0;
      color: var(--foreground);
      &:hover {
        color: var(--a-default);
      }
    }

    nav {
      @media (max-width: 440px) {
        font-size: 0;
      }
    }
  }
</style>