---
import WingLogo from '../Icon/WingLogo-hover.astro';
---

<header>
  <a href="/" class='as-h1'>
    <WingLogo height={35} />
    Wing's HomePage
  </a>
  <p>あい</p>
  <p>うえ</p>
</header>

<style lang="scss">
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 7px var(--foreground);
    height: 36px;
    background-color: var(--background-transparent);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;

    .as-h1 {
      font-size: 1.73em;
      font-weight: bold;
      font-family: Playwrite;
      margin-top: 0;
      color: var(--foreground);
      &:hover {
        color: var(--a-default);
      }
    }
  }
</style>