@use 'v';

body {
  background-color: v.$background;
  color: v.$foreground;
  font-family: 'Zen Maru Gothic', sans-serif;

  h1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
  }
}

a {
  color: v.$link_color;
}

i {
  display: inline-block;
}

pre,
code {
  font-family: 'Fira Code Variable', monospace !important;
  font-variant-ligatures: contextual;
}
