---
import RootLayout from './RootLayout.astro';
import CurrentPathOnSSG from '../components/LayoutUI/CurrentPathOnSSG.astro';
import DefaultHeader from '../components/LayoutUI/DefaultHeader.astro';
import DefaultFooter from '../components/LayoutUI/DefaultFooter.astro';

interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
  hideCurrentPath?: boolean;
}

const {
  title = '',
  description = '地球人のWingが，ウェブサイトをやってます．自己紹介兼ブログになってるんで，見てってください．特技：写真，プログラミング，サボること．',
  noindex= false,
  hideCurrentPath = false,
} = Astro.props;

let rootTitle: string = ''
if (title == '') {
  rootTitle = 'Wingのサイト';
} else {
  rootTitle = `${title} | Wingのサイト`;
};
---

<RootLayout
  title={rootTitle}
  description={description}
  noindex={noindex}
>
  <DefaultHeader />
  <div class='slotDiv'>
    {!hideCurrentPath && (<CurrentPathOnSSG />)}
    <div>
      <slot />
    </div>
  </div>
  <DefaultFooter />
</RootLayout>

<style lang="scss">
  .slotDiv {
    margin: 40px 12px;
    min-height: 200px;
  }
</style>