---
import { ClientRouter } from 'astro:transitions';

interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;

}

const { 
  title = 'Wave Graphics',
  description = 'Wave Graphicsアプリへようこそ！このアプリでは，物理の授業で出てきそうな，波の模型をデジタル化し，ウェブで閲覧可能にしたものです．' ,
  noindex = false,
} = Astro.props;

---

<!doctype HTML>
<html lang='ja'>
  <head>
    <!-- 基本情報から -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO対策とメタタグ -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {noindex && <meta name="robots" content="noindex" />}

    <!-- アイコン -->

    <!-- SNS -->

    <!-- Twitter -->

    <!-- Astro -->
    <ClientRouter />
  </head>
  <body>
    <slot transition:animate="fade" />
  </body>
</html>

// グローバルCSS
<style is:global lang="scss">

</style>

<style lang="scss">
  
</style>