---
import { ClientRouter } from 'astro:transitions';

interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;

}

const { 
  title = 'Wave Graphics',
  description = 'Wave Graphicsアプリへようこそ！このアプリでは，物理の授業で出てきそうな，波の模型をデジタル化し，ウェブで閲覧可能にしたものです．' ,
  noindex = false,
} = Astro.props;

---

<!doctype HTML>
<html lang='ja'>
  <head>
    <!-- 基本情報から -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO対策とメタタグ -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {noindex && <meta name="robots" content="noindex" />}

    <!-- アイコン -->

    <!-- SNS -->

    <!-- Twitter -->

    <!-- Astro -->
    <ClientRouter />
  </head>
  <body>
    <slot transition:animate="fade" />
  </body>
</html>

// グローバルCSS
<style is:global lang="scss">
  @font-face {
    font-family: Playwrite;
    src: url('/fonts/Playwrite.ttf');
  }

  @font-face {
    font-family: ZenMaru;
    src: url('/fonts/ZenMaru.ttf');
  }

  @font-face {
    font-family: FiraCode;
    src: url('/fonts/FiraCode-Light.ttf');
  }

  :root {
    --background: #8cd7ff;
    --background-transparent: rgb(140, 215, 255, 62%);
    --foreground: #222222;
    --foregroundSub: #000000bb;
    --a-default: #3f48ffcb;
    --a-hover: #4d56ffa9;
    --button-background: #b8e5ff;
    --button-hover-border: #4d56ffa9;

    @media (prefers-color-scheme: dark) {
      --background: #000242;
      --background-transparent: rgb(0, 2, 66, 62%);
      --foreground: #fffff1df;
      --foregroundSub: #fffff1a0;
      --a-default: #ffd6b0e7;
      --a-hover: #ffd52ddc;
      --button-background: #0044ff16;
    }
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  //共通のデザイン
  a {
    font-weight: 500;
    color: var(--a-default);
    text-decoration: inherit;
  }
  a:hover {
    color: var(--a-hover);
  }

  a, p, h2, h3, h4, td, label, li, time, span {
    font-family: ZenMaru;
  }

  noscript {
    font-family: ZenMaru;
    font-size: 1em;
  }

  h2 {
    text-align: center;
  }
</style>

<style lang="scss">
  body {
    padding: 0;
    margin: auto 0;
  }
</style>